@{
    ViewBag.Title = "About Me";
}

<style>
    fieldset{
    border: 1px solid #31557f;
    width: 39em;
    padding-bottom:0.5em;
	padding-left:2em;
	background-color:#F9FAFB;
}
  .info{
     padding-left:310px;
	 padding-top:27px;
  }
</style>

<div class="info">
    <fieldset>
        <img src="~/Images/ipeknurkaraman.jpg" style="width:140px;height:150px;margin-left:210px;margin-top:10px;">
        <h2>İpek Nur Karaman</h2>
    </fieldset>

    <fieldset>
        <b>Date of Birth</b> : 06.07.1993 <br /><br />
        <b> Place of Birth </b> : Turkey - Karabük  <br /><br />

        <b>E-mail : </b> : ipekkaraman1993@gmail.com<br /><br />

        <b> Adress : </b>  ANKARA-KEÇİÖREN<br /><br />
        <b> University :</b>  YILDIRIM BEYAZIT UNIVERSITY-Computer Engineering<br /><br />
        <b> High School :</b>  VAKIFBANK ZUBEYDE HANIM ANATOLIAN HIGH SCHOOL<br /><br />
        <b> Work Experience :</b> intern in Tubitak Uzay <br /><br />
        <b> Languages :</b> English,Turkish<br /><br />
        <b>Competencies : </b>  Java ,C,Html,Css <br /><br />
        <b> Certificates :</b> 14.Yönetim Ve Mühendislik Günleri (ODTÜ - 03.2014),
        Bisoft Java Web Teknolojileri (Bisoft - 03.2014)<br /><br />
        <b> Hobbies : </b>  Playing guitar,reading books,followin computer technology.<br /><br />
    </fieldset>
</div>

