@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Address:</strong><br />
    Keçiören ANKARA<br />
    
</address>

<address>
    <strong>Email:</strong>   <a href="ipekkaraman1993@gmail.com">ipekkaraman1993@gmail.com</a><br />
    
</address>